body{
  background-color: #010409;
}
/* 导航栏 */
.topborder{
    background-color:#1e1e1e;
    width:100%;
    height: 80px;
    line-height: 25px;
    color: #b0b0b0;
    font-size: 26px;
    border-radius: 20px;
}
.topborder .iconfont{
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrap{
  width: 1300px;
  margin: 0 auto;
}
.header-left{
  padding-left: 0px;
  float: left;
  list-style: none;
}
.header-left span{
  color: #424242;
  margin:0 25px;
}
.header-right{
  list-style: none;
  float: right;
}
.topborder li{
  position: relative;
  float: left;
}
.topborder a{
    color: #bbb;
    text-decoration:none
}
.topborder a:hover{
    color: #fff;
}
/* 背景轮播图 */
.banner{
  width: 100%;
  height: 400px;
  margin-bottom: 5px;
}
.banner-box{
  width: 800px;
  height: 400px;
  margin: 10px auto;
  background-image: url(../IMG/1.jpg);
  background-size: 100%;
  animation: banner 6s linear infinite;
} 
.banner-box:hover{
  animation-play-state: paused;
}
/* 背景图轮换动画实现,后面用js优化动画效果 */
@keyframes banner {
  0%{
    background-image: url(../IMG/1.jpg);
  }
  33%{
    background-image: url(../IMG/2.jpg);
  }
  67%{
    background-image: url(../IMG/3.jpg);
  }
}
/* 题目和公告栏 */
.container{
  width: 100%;
  padding: 4px 0 12px;
}
/* 题目 */
.container-left{
  border:1px solid transparent;
  color: #fff;
  float: left;
}
.topbar{
  height: 80px;
  border-bottom: 1px solid transparent;
}
.topbar a{
  color: #bbb;
  text-decoration:none
}
.topbar a:hover{
  color: #fff;
}
.block{
  background-color:#0d1117; 
  position: relative;
  float: left;
  width: 200px;
  height: 80px;
  border-left: 1px solid #2f81f7;
  border-right: 1px solid #2f81f7;
  font-size: 24px;
  text-align: center;
  line-height: 80px;
}
.block button{
  width: 200px;
  height: 80px;
  border: 0px;
  font-size: 24px;
  color: #b0b0b0;
  background-color: transparent;
  cursor: pointer;
}
.content{
  width: 1006.65px;
  background-color:antiquewhite;
  padding-bottom: 30px;
}
/* 点击切换题库内容 */
.triangle{
  width: 0;
  height: 0;
  border-bottom:8px solid #fff ;  
  border-left: 8px solid transparent;  
  border-right:8px solid transparent ;  
  position: absolute;
  top: 80%;
  left: 47%;
  display: none;
} 
.page{
  display: none;
}
.topbar .current{
  display: block;
}
.content .current{
  display: block;
}
/* 题目容器 */
.question{
  margin-left:38px;
  margin-top:30px;
  border: 1px solid #2f81f7;
  width: 438px;
  height: 180px;
  display: inline-block;
}
.question button{
  border: 0px;
  padding: 0px;
  cursor: pointer;
}
.question-left{
float: left;
width: 300px;
height: 180px;
border-right: 1px solid red;
}
.question-name{
  width: 300px;
  height: 91px;
  border-bottom: 1px solid red;
  text-align: center;
  line-height: 90px;
  /* padding-left: 16px; */
  color: #272e3b;
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0px 6px 13px rgba(0,0,0,.1);
}
.question-source{
  width: 300px;
  height: 44px;
  border-bottom: 1px solid red;
  text-align: center;
  line-height: 44px;
  /* padding-left: 16px; */
  color: #6b7784;
}
.question-message{
  width: 300px;
  height: 43px;
  border-bottom: 1px solid transparent;
  color: #242e3b;
}
.question-score{
  float: left;
  width: 149px;
  /* height:44px; */
  border-right: 1px solid red;
  text-align: center;
  line-height: 44px;
  /* padding-left: 16px; */
}
.question-amount{
  float: left;
  width: 150px;
  /* height:44px; */
  text-align: center;
  line-height: 44px;
  /* padding-left: 16px; */
}
.question-right{
float:right;
width: 137px;
height: 180px;
text-align: center;
line-height: 180px;
}
.question-right .iconfont{
  font-family: "iconfont" !important;
  font-size: 80px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 公告栏 */
.container-right{
  width: 200px;
  border:1px solid #2f81f7;
  color: #fff;
  float: right;
}
.outline{
  text-align: center;
  height: 60px;
  border-bottom: 1px solid #2f81f7;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0.1em;
}
.notice ul{
  list-style: none;
  padding-left: 10px;
  line-height: 40px;
}