@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1697255800115') format('truetype');
}
/* .iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
.icon-weiruan:before {
  content: "\f01ff";
}

.icon-paixingbang:before {
  content: "\e64b";
}

.icon-yiwancheng:before {
  color: #1ab235;
  content: "\e612";
}

.icon-renwu-ren:before {
  content: "\e749";
}

.icon-weiwancheng:before {
  color:#666;
  content: "\e817";
}

